<%= f = form_for @changeset, "#",
  id: "task-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>
  <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
    <div class="sm:flex sm:items-start">
      <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10">
        <svg class="h-6 w-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
          <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm9.707 5.707a1 1 0 00-1.414-1.414L9 12.586l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="mt-3 flex-grow text-center sm:mt-0 sm:ml-4 sm:text-left">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          <%= @title %>
        </h3>
        <div class="mt-2">
          <%= label f, :name, class: "block text-sm font-medium text-gray-700" %>
          <%= text_input f, :name, autofocus: true, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          <span class="text-sm text-red-600"><%= error_tag f, :name %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse sm:justify-between">
    <%= submit "Save", phx_disable_with: "Saving...", class: "w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm" %>
    <%= if @id != :new do %>
      <%= link "Delete Task", to: "#",
        phx_click: "delete",
        phx_target: @myself,
        phx_value_id: @task.id,
        data: [confirm: "Are you sure you want to permenantly delete this task?"],
        class: "text-red-600 pt-2 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600" %>
    <% end %>
  </div>
</form>
