<h1>Show Task</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, TwoDoWeb.TaskLive.FormComponent,
    id: @task.id,
    title: @page_title,
    action: @live_action,
    list: @list,
    task: @task,
    return_to: Routes.task_show_path(@socket, :show, @list, @task) %>
<% end %>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @task.name %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.task_show_path(@socket, :edit, @list, @task), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.task_index_path(@socket, :index, @list) %></span>
