<h1>Listing Lists</h1>

<%= if @live_action in [:new, :edit] do %>
  <%= live_modal @socket, TwoDoWeb.ListLive.FormComponent,
    id: @list.id || :new,
    title: @page_title,
    action: @live_action,
    list: @list,
    return_to: Routes.list_index_path(@socket, :index) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="lists">
    <%= for list <- @lists do %>
      <tr id="list-<%= list.id %>">
        <td><%= list.name %></td>

        <td>
          <span><%= live_redirect "Show", to: Routes.task_index_path(@socket, :index, list) %></span>
          <span><%= live_patch "Edit", to: Routes.list_index_path(@socket, :edit, list) %></span>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: list.id, data: [confirm: "Are you sure? This will permenantly delete all tasks in this list too!"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch "New List", to: Routes.list_index_path(@socket, :new) %></span>
