<header class="w-full text-white bg-gray-800 shadow-md">
  <div class="m-auto max-w-6xl p-2 sm:p-4 flex flex-row place-items-center">
    <h1 class="font-bold text-lg sm:text-xl flex-grow">
      <%= link to: "/" do %>
        <span class="text-blue-300">Two</span><span class="text-yellow-300">Do</span>
      <% end %>
    </h1>
    <%= if url = assigns[:layout_add_url] do %>
      <div class="h-6 w-6">
        <%= live_patch to: url do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
          <span class="hidden">New</span>
        <% end %>
      </div>
    <% end %>
  </div>
</header>

<main role="main" class="m-auto max-w-6xl p-2 sm:p-4">

  <%# The flashes are hidden, because I'm not sure of their usefulness, but they
 remain here for now as the tests use them to verify actions. %>
  <p class="hidden" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="hidden" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>
